/* Copyright 2011 Akanster. All rights reserved. */

/* http://blog.twg.ca/2010/11/retina-display-icon-set/ */

body {
	/* background-color: #232323; old color before glyphish 
	background-color: #2A2A2C; */
}

/***************************************************/
/*
broswe view
*/

.browse {
	/* font-family: Verdana; */
}

.shot-row {
	padding: 10px 4px;
}


.shot-title {
	font-size: 12px;
	font-weight: 500;
	color: #34;
	
	text-align: center;
	background-color: #FFF;
	border: solid 1px #FFF;
	
	padding: 3px 8px;
	-webkit-border-radius: 10px;
	
	text-shadow: #070609;
}

.shot-image {
	padding: 4px;
	
	/* distorts irregular sized images */ 
	height: 150px;
	width: 200px;
}

.header-text { 
}

.bottom-toolbar {
/*
	background-color: #B2D73A;
*/
}

/***************************************************/
/*
details view
*/

.details {
}


.shot-info-block {
	padding-top: 30px;
	padding-left: 15px;
}

.shot-image-large { 
	padding: 4px;
	background-color: #fff; 
	
	/* shots are typically this size but not always. Others will be stretched. */
	height: 300px;
	width: 400px;
}

.shot-info-box { /* box with player name, shot name & date. Next to avatar */
	color: #000;
	font-size: 14px;
	padding-left: 10px;
}

.shot-name {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

.player-name {
}

.shot-date {
}

.player-image {
	padding: 2px;
	background-color: #fff; 
	
	/* player avatar will always be this size */
	height: 80px;
	width: 80px;
}

.comments-block { /* this is our list object! */
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.comment-avatar {
	padding: 1px;
	background-color: #fff; 
	
	/* player avatar will always be this size */
	height: 50px;
	width: 50px;
}

.comment-info-box { /* box with commenter name & comment text */
	color: #000;
	font-size: 14px;
	padding-left: 10px;
}

.comment-poster {
	font-weight: bold;
}
.comment-text {
}

.more-comments-button {
    margin-left: auto;
    margin-right: auto;
	width: 200px;
}

.back-button {

}